name: On Push

on:
  push:
    branches:
      - "*"
      - "*/*"
      - "**"

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  ci:
    uses: ./.github/workflows/ci-common.yml
    secrets: inherit
    with:
      node-version: "22"
