name: Sonar
on:
  push:
    branches:
      - main
      - sonar-integrate
  pull_request:

permissions:
  contents: read
  pull-requests: write

jobs:
  sonar-push:
    if: github.event_name == 'push'
    uses: onecx/ci-angular/.github/workflows/angular-sonar-main.yml@v1
    secrets: inherit
  sonar-pr-test:
    if: github.event_name == 'pull_request'
    uses: onecx/ci-angular/.github/workflows/angular-pr-sonar.yml@v1
    secrets: inherit
