name: Sonar on Main

on:
  workflow_dispatch:
  schedule:
    - cron: '0 2 * * *' # once per night

permissions:
  contents: read
  pull-requests: write
  actions: read

jobs:
  sonar:
    uses: onecx/ci-angular/.github/workflows/angular-sonar-main.yml@v1
    secrets: inherit
