name: Run Sonar

on:
  workflow_dispatch:
  schedule:
    - cron: "0 2 * * SUN"

permissions:
  contents: read
  pull-requests: write
  actions: read

jobs:
  sonar:
    uses: onecx/ci-angular/.github/workflows/angular-sonar-main.yml@v1
    secrets: inherit
