name: Sonar Pull Request

on:
  workflow_run:
    workflows: ["On PR"]
    types:
      - completed

permissions:
  contents: read
  pull-requests: write
  actions: read

jobs:
  pr:
    uses: onecx/ci-angular/.github/workflows/angular-pr-sonar.yml@v1
    secrets: inherit
